<h1>Edit User Profile</h1>
<div class='flash'>
	<% if flash[:errors] %>
		<div class='red flash_box'>
			<% for message in flash[:errors] %>
				<p><%= message %></p>
			<% end %>
		</div>
	<% end %>
	<% if flash[:action_status] %>
		<p class='green flash_box'><%= flash[:action_status] %></p>
	<% end %>
</div>
<form action="/users/<%= current_user[:id] %>" method='post'>
	<table>
		<tr>
			<td>User ID:</td>
			<td><%= current_user[:id] %></td>
		</tr>
		<tr>
			<td>Name:</td>
			<td><input type='text' name="user[name]" value="<%= current_user[:name] %>"></td>
		</tr>
		<tr>
			<td>Email:</td>
			<td><input type='text' name="user[email]" value="<%= current_user[:email] %>"></td>
		</tr>
		<tr>
			<td>Digest:</td>
			<td><%= current_user[:password_digest] %></td>
		</tr>
	</table>
	<input type='hidden' name="_method" value="patch">
	<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"> 
	<input type='submit' value='Update Profile'>
</form>
<div class='footer'>
	<p><a href="/secrets">View Secrets</a> | <a href="/users/<%= current_user[:id] %>">My Profile</a></p>
	<p class='login_status'>
		<form action='/sessions' method='post'>
			Currently logged in as <%= current_user[:name] %>.
			<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"> 
			<input type='hidden' name='_method' value='delete'>
			<input type='submit' value='Log out'>
		</form>
		<form action="/users/<%= current_user[:id] %>" method='post'>
			<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"> 
			<input type='hidden' name='_method' value='delete'>
			<input type='submit' value='Delete Account'>
		</form>
	</p>
</div>