<h1>Seeks Secret Index</h1>
<div class='flash'>
	<% if flash[:errors] %>
		<div class='red flash_box'>
			<p><%= flash[:errors] %></p>
		</div>
	<% end %>
	<% if flash[:action_status] %>
		<p class='green flash_box'><%= flash[:action_status] %></p>
	<% end %>
</div>
<p>Everyone's secrets!</p>
<table>
	<tr>
		<td>Secret</td>
		<td>Likes</td>
	</tr>
	<% @trimmed_secrets.each do |this_secret| %>
		<tr>
			<td><%= this_secret[:content] %></td>
			<td><%= this_secret[:likes] %></td>
			<% if this_secret[:my_opinion] == nil %>
				<td>
					<form action="/likes/create" method='post'>
						<input type='hidden' name='this_secret' value="<%= this_secret[:id] %>">
						<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"> 
						<input type='submit' value='Like'>
					</form>
				</td>
			<% else %>
				<td>
					<form action="/likes/<%= this_secret[:my_opinion] %>" method='post'>
						<input type='hidden' name='_method' value='delete'>
						<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"> 
						<input type='submit' value='Dislike'>
					</form>
				</td>
			<% end %>
			<td>
				<% if this_secret[:mine] == true %>
					<form action="/secrets/<%= this_secret[:id] %>" method='post'>
						<input type='hidden' name='_method' value='delete'>
						<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"> 
						<input type='submit' value='Delete Secret'>
					</form>
				<% end %>
			</td>
		</tr>
	<% end %>
</table>
<div class='footer'>
	<p><a href="/users/<%= current_user[:id] %>">Back to My Profile</a></p>
	<p class='login_status'>
		<form action='/sessions' method='post'>
			Currently logged in as <%= current_user[:name] %>.
			<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"> 
			<input type='hidden' name='_method' value='delete'>
			<input type='submit' value='Log out'>
		</form>
	</p>
</div>